body{
    background-color: #181621;
}

.back-button-image {
    height: 12px; /* Adjust the height as needed */
    margin-left: 20px;
    margin-bottom: 7px;
    /* Add any additional styling here */
}

.navbar{
    height: 40px;
}
.navbar-spacer {
    display: none;
}

/* Display the spacer for larger screens where the navbar is not collapsed */
@media (min-width: 992px) {
    .navbar-spacer {
        display: inline-block; /* Make the spacer visible */
        width: 140px; /* Adjust based on the actual width of your back button + margin */
    }
}
/* Custom styles for the entire navbar */
.navbar-custom {
    background-color: #0F0E14; /* Replace with your desired background color */
}

/* Custom styles for the navbar links */
.navbar-custom .navbar-nav .nav-link {
    color: #E2E2E2; /* Replace with your desired link color */
    font-family: Roboto, sans-serif;
    font-size: x-small;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}


/* Change the color for the active or currently selected navigation link */
.navbar-custom .navbar-nav .nav-link.active,
.navbar-custom .navbar-nav .nav-item.active .nav-link {
    color: #EE9A0F; /* Replace with a different color for active links */
}

/* Optionally: change the hover color */
.navbar-custom .navbar-nav .nav-link:hover {
    color: #a86e0d; /* Replace with a color for hover state */
}


/* Styles for the navbar brand/logo */
.navbar-custom .navbar-brand {
    color: #E2E2E2; /* Replace with your desired logo color */
}

/* Styles for the navbar toggler icon */
.navbar-custom .navbar-toggler {
    border-color: #E2E2E2; /* Replace with your desired toggler border color */
}

/* Styles for the navbar toggler icon bars (hamburger icon) */
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23E2E2E2' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* The color #E2E2E2 in the URL is the bar color of the toggler */
}

/* Responsive behavior of navbar links */
@media (max-width: 991px) {
    .navbar-custom .navbar-nav .nav-link {
        color: #E2E2E2; /* Replace with your desired link color for mobile */
        background-color: #181621;
    }
    
    .navbar-custom .navbar-nav .nav-link.active,
    .navbar-custom .navbar-nav .nav-item.active .nav-link {
        color: #E2E2E2; /* Replace with a different color for active links on mobile */
        background-color: #272642; /* Optional: background color for active links on mobile */
    }

    /* Styles for the collapsed navbar content */
    .navbar-custom .navbar-collapse {
        background-color: #181621; /* Optional: background color for the collapsed menu */
    }
}

/* Optional: Add some padding inside the nav link items for better touch targets on mobile */
.navbar-custom .navbar-nav .nav-link {
    padding: .5rem 1rem;
}

@media (max-width: 768px) {
    /* This sets the iframe height to 100vh (100% of the viewport height) on mobile devices */
    .ratio-16x9 iframe {
        height: 100vh; /* Adjust this value if you need to account for mobile browser chrome */
        position: absolute; /* Optional: to ensure it covers the full screen without padding or margin issues */
    }
}


/* Table styles */
.first-issue {
    font-size: 1em;
    color: #EE9A0F;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.issue-title {
    font-size: 1em;
    color: #EE9A0F;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Table styles */
.container-custom {
    padding-bottom: 10px; /* Increase the bottom padding of the container */
    margin-bottom: 20px;
}

.table {
    background-color: #0F0E14;
    width: 100%;
    margin-bottom: 20px; /* Space between each table */
}

.table thead th {
    background-color: #0F0E14;
    color: #6F6C99;
    border: 1px solid #6F6C99;
}

.table tbody td {
    color: #D8D6F5;
    border: 1px solid #6F6C99;
}

/* Responsive table styles */
@media (max-width: 768px) {
    .table-responsive-stack {
        overflow-x: auto;
    }
    .table-responsive-stack thead {
        position: static;
    }
    .table-responsive-stack tbody {
        display: block;
    }
    .table-responsive-stack tbody tr {
        display: block;
        margin-bottom: 0.625rem;
    }
    .table-responsive-stack tbody td {
        display: block;
        text-align: right;
    }
    .table-responsive-stack tbody td::before {
        content: attr(data-title);
        float: left;
        font-weight: bold;
        color: #343a40;
    }
    .table-responsive-stack tbody td:last-child {
        border-bottom: 2px solid #dee2e6;
    }
}



/* Hover effect for rows */
.table tbody tr:hover {
    background-color: #2b283a;
}